#gameCanvasBR {
    border: solid 2px rgb(102,152,174);
    margin: 0px;
    padding: 0px;
    width: 75vh;
    height: 75vh;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(23,39,44);
    background-size: 20px 20px;
    background-image:
    linear-gradient(to right, rgba(102,152,174,0.25) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(102,152,174,0.25) 1px, transparent 1px);
}